# Python
.python-version
.ipynb_checkpoints/**
*.pyc
/__pycache__/**
*.ipynb
# resource folder
/Resources/**
/Scripts/**
# sim inputs and outputs
**/results/**
**.json
**.tsv
# misc
**.DS_Store
/test/**


